@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-1: #1877ff;
  --brand-2: #4692ff;
  --brand-3: #bad6ff;
}
.ChatApp,
.MessageContainer,
.Navbar,
.Message .Bubble,
.QuickReplies,
.ChatFooter {
  background-repeat: no-repeat;
  background-size: cover;
}
.ChatApp {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: #ebf3f8;
}
.Navbar {
  background-color: #f5f5f5;
}
.Navbar .IconBtn {
  color: #000000;
}
.Navbar-title {
  color: #000000;
}
.Navbar-main {
  min-height: 60px;
}
.QuickReplies,
.ChatFooter {
  background-color: #f5f5f5;
}
.MessageContainer {
  padding: 20px;
}